<body>

  <div class="content">
    <div class="title">
      <h1>Hear It From Our</h1>
      <h1> Prograds</h1>
    </div>


    <div id="p1">Being a Prograd is a lifetime experience in the past , we have several times tried
      showing the world what it is to be a Prograd.But, we soon realised that noone
      can better describe this journey than our Prograds themselves.</div><br>
    <div id="p2">So here we are with a mission to let the world hear it from our Prograds</div>
    <p id="p3">#ProudPrograds #Yourdreamdestination</p>

  </div>
  <div class="image">

    <img src="../../assets/image.jpg.png" alt="">
  </div>
</body>
