header {
  display: flex;
  /* border: 2px solid black; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.image1 {
  padding-left: 20px;
  margin: 0;
  float: left;
}

.image2 {
  /* border: 2px solid black; */
  float: right;
  padding-right: 10px;
}
